body {
    background-color: rgb(132, 132, 108);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f6eb76;
    text-align: center;
    padding: 20px;
    transform: translateY(100%);
}


nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline;
        margin: 0 20px;
    }

    nav ul li a {
        text-decoration: none;
        color: #232323;
        font-weight: bold;
        font-size: 18px;
    }
    /* Utilisation d'une police de script personnalisée */
    nav ul li a {
        font-family: 'NomDeVotrePolice', adelia;
}

main {
    background-color: rgb(128, 128, 245);
    text-align: center;
    padding: 150px;
    transform: translateY();
}

#grey_01 {
    rotate: 180deg;
    width: 23%;
}
#grey_02 {
    rotate: 180deg;
    width: 17.5%;
}
#grey_03 {
    rotate: 180deg;
    width: 14%;
}
#grey_04 {
    rotate: 180deg;
    width: 12.5%;
}
#grey_05 {
    rotate: 180deg;
    width: 13%;
}
#grey_06 {
    rotate: 180deg;
    width: 20s%;
}

#grey_01:hover{
    color: blue;
    filter: brightness(1.2);
    

}
/*img.ampoule {
    width: auto;
    height: auto;
    transition: filter 0.3s;
}

img.ampoule:hover {
    filter: brightness(1.2);
    
    
}*/




.form-container {
    
    margin: 0 auto;
}

.h1 {
    padding: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ampoule-comptainer {
    padding: 30px;
}

.link-commande {
    padding: 80px;
}

.button-commande {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
    background: #f6eb76;
    color: #000;
}

.container {
    display: flex;
}

.produit {
    flex: 1;
    padding: 20px;
}

.commande {
    flex: 1;
    padding: 20px;
}

#image-produit {
    max-width: auto;
}

.image-produit {
    display: none;
}


form {
    /* On centre le formulaire */
    margin: 0 auto;
    width: 500px;
    /* Le contour du formulaire */
    padding: 3em;
    border: 5px solid #000000;
    border-radius: 5em;
    }

    ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    }

    form li+li {
        margin-top: 1em;
    }

    label {
        display: inline-block;
        width: 150px;
        text-align: left;
    }

    input,
    textarea {
        /* On s'assure que les champs texte ont la même police
        Par défaut, les zones de texte ont une police à chasse
        fixe. */
        font: 1em sans-serif;

        /* Taille uniforme pour des champs */
        width: 300px;
        box-sizing: border-box;

        /* On utilise la même bordure que pour le formulaire */
        border: px solid #f6eb76;
    }
    
    input:focus,
    textarea:focus {
        /* On rajoute une mise en avant pour les éléments avec
        le focus. */
        border-color: #1c16d4;
    }

    textarea {
        /* On aligne les textes sur plusieurs lignes avec leur
        libellé. */
        vertical-align: top;

        /* On fournit un peut d'espace pour saisir du texte. */
        height: 5em;

        /* On permet de redimensionner verticalement. */
        resize: vertical;
}




footer {
    font-size: ;
    text-align: center;
    padding: 0%;
    position: absolute;
    bottom: 0px;
    right: 10px;
    transform: translateY(0);
    position: fixed;
}